{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-strt">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for history in historys %}
                <tr>
                    <td class="text-strt">{{ history.symbol }}</td>
                    <td class="text-end">{{ history.shares }}</td>
                    <td class="text-end">{{ history.share_price | usd }}</td>
                    <td class="text-end">{{ history.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}